<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangku.mapper.GgwSupplyMapper" >
  <resultMap id="BaseResultMap" type="com.wangku.entity.GgwSupply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="supply_detail" property="supplyDetail" jdbcType="VARCHAR" />
    <result column="link_person" property="linkPerson" jdbcType="VARCHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="wx_user" property="wxUser" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, supply_detail, link_person, phone_num, wx_user, address, check_status, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wangku.entity.GgwSupplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ggw_supply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ggw_supply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ggw_supply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangku.entity.GgwSupplyExample" >
    delete from ggw_supply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangku.entity.GgwSupply" >
    insert into ggw_supply (id, supply_detail, link_person, 
      phone_num, wx_user, address, 
      check_status, create_time)
    values (#{id,jdbcType=INTEGER}, #{supplyDetail,jdbcType=VARCHAR}, #{linkPerson,jdbcType=VARCHAR}, 
      #{phoneNum,jdbcType=VARCHAR}, #{wxUser,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{checkStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wangku.entity.GgwSupply" >
    insert into ggw_supply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="supplyDetail != null" >
        supply_detail,
      </if>
      <if test="linkPerson != null" >
        link_person,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="wxUser != null" >
        wx_user,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="supplyDetail != null" >
        #{supplyDetail,jdbcType=VARCHAR},
      </if>
      <if test="linkPerson != null" >
        #{linkPerson,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="wxUser != null" >
        #{wxUser,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangku.entity.GgwSupplyExample" resultType="java.lang.Integer" >
    select count(*) from ggw_supply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ggw_supply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.supplyDetail != null" >
        supply_detail = #{record.supplyDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPerson != null" >
        link_person = #{record.linkPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNum != null" >
        phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUser != null" >
        wx_user = #{record.wxUser,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ggw_supply
    set id = #{record.id,jdbcType=INTEGER},
      supply_detail = #{record.supplyDetail,jdbcType=VARCHAR},
      link_person = #{record.linkPerson,jdbcType=VARCHAR},
      phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      wx_user = #{record.wxUser,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangku.entity.GgwSupply" >
    update ggw_supply
    <set >
      <if test="supplyDetail != null" >
        supply_detail = #{supplyDetail,jdbcType=VARCHAR},
      </if>
      <if test="linkPerson != null" >
        link_person = #{linkPerson,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="wxUser != null" >
        wx_user = #{wxUser,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangku.entity.GgwSupply" >
    update ggw_supply
    set supply_detail = #{supplyDetail,jdbcType=VARCHAR},
      link_person = #{linkPerson,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      wx_user = #{wxUser,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <!-- 自定义SQL -->
  <!-- 关键字分页查询记录 -->
   <select id="querySupplysByKeywordPaged" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ggw_supply
    <if test="keyWord != null">
    where supply_detail like "%"#{keyWord}"%"
    </if>
    order by create_time desc
    limit #{offsetValue,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
</mapper>